global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8888']
        labels:
          service: 'otel-collector-internal'

  - job_name: 'demo-app-metrics'
    static_configs:
      - targets: ['otel-collector:8889']
        labels:
          service: 'demo-app'
